@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ffd200;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.FirstDiv{
  padding:75px 100px;
}

.tabText2Hide{

  display: none;
}

.App-logo{
  height: 80px;
  margin-left: -10px;
}

.App-logo2{
  height: 2vw;

 }

 .App-logo3{
  display: none;
}

.changelanguage{
  color: #4744c4;
  font-size: 0.9vw;
  font-weight: 100;
  margin-right: 10px;

}

.changelanguage2{
  color: #4744c4;
  font-size: 0.9vw;
  font-weight: 100;
  margin-top: 32px;
}

.downloadText{
  color: #4744c4;
  font-size: 1vw;
  font-weight: 100;
 margin-right:10px ;
}

.closeIconMobile{

  background-color: #4744c4;
  height:25px;
  width: 25px;
  justify-content: center;
  align-items: center;
display: flex;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5%;


}
.closeIcon{

  height: 15px;
  width: 15px;
}

.closeIconDiv1{
  background-color: #fff;
height: 25px;
width: 25px;
justify-content: center;
align-items: center;
display: flex;
border-radius: 50%;
cursor: pointer;
position: absolute;
right: 3%;
top: 3%;
}
.closeIconDiv2{
  background-color: #fff;
height: 25px;
width: 25px;
justify-content: center;
align-items: center;
display: flex;
border-radius: 50%;
cursor: pointer;
position: absolute;
right: 3px;
top: 3%;
}
.closeText{
  color: #4744c4;
}
.closeIconDiv3{
  background-color: #fff;
height: 25px;
width: 25px;
justify-content: center;
align-items: center;
display: flex;
border-radius: 50%;
cursor: pointer;
position: absolute;
right: 10%;
top: 3%;
}
.ImageDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 align-items: center;
  padding-bottom: 35px;
  width:100%;
  }

.ImageDivider{
    width:100%;
  border-bottom-style: solid ;
    border-bottom-width: thin;
    border-bottom-color: #4744c4;
    position: absolute;
    z-index: -19999;
    bottom: 0;

}

.ImageDivider2{
    width:95.3%;
  border-bottom-style: solid ;
    border-bottom-width: thin;
    border-bottom-color: #4744c4;
    margin-top: -1.85%;
}

.secondDiv{
 padding-bottom: 0;
justify-content: center;
align-items: center;
/* background-color: #fff; */
/* margin-left: 80px; */
display: flex;
}

.textHide2{
  display: none;
}

.textHide3{
  display: none;
}

.tabText52{
  display: none;
}

.second{
  width:100%;
  position: relative;
  /* background-color: #fff; */
 }

.secondDiv2{
/* width:90%; */
padding-top:30px;
/* padding-left: 80px;
padding-right: 50px; */
display: flex;
flex-direction: row;
/* background-color: #fff; */
}

.secondDiv2Download{
  /* width:90%; */
padding-top:30px;
/* padding-left: 80px;
padding-right: 50px; */
display: flex;
flex-direction: column;
/* background-color: #fff; */
}
.secondDiv3{
  /* width:90%; */
  padding-top:50px;
  /* padding-left: 80px;
  padding-right: 50px; */
/* background-color: #fff; */
}

.secondDiv4{
    /* width:90%; */
    padding-top:0px;
    /* background-color: #4744c4; */
    /* padding-left: 80px;
    padding-right: 50px; */
    display: flex;
    flex-direction: row;
    /* background-color: #fff; */
    border-bottom-style: solid ;
    border-bottom-width: thin;
    border-bottom-color: #4744c4;
    padding-bottom: 150px;
}

.secondDiv5{

  padding-top:0px;

  display: flex;
  flex-direction: row;

  padding-top: 100px;
}

.DivAlign{
  display: flex;
  height: 35vw;


}

.Zero{
  height: 13vw;
    margin-left: -7.8%;
    margin-top: -1%;



}
.Zero2{
  display: none;
  height: 15vw;
    margin-left: -3.8%;
    margin-top: -10%;

}
.googleAndApple{
height: 50px;
cursor: pointer;
}
.Arrow{
  height: 15vw;
 margin-left: -5.8%;
}
.Arrow2{
  display: none;
  height: 12vw;
 margin-left: 9.8%;
}
.Bills{
  height: 15vw;
  margin-top: 2%;
  /* margin-left: 1%; */


}
.Bills2{
  display: none;
  height: 15vw;
  margin-top: 2%;
  /* margin-left: 1%; */


}
.clickArrow{
  height: 4vw;
  margin-left: -1.3vw;
  margin-top:-1vw;
  cursor: pointer;
}
.clickArrow2{
  height: 4vw;
  margin-left: -1.3vw;
  margin-top:-1vw;
  transform: rotate(180deg);
  cursor: pointer;

}
.ImageMargin{
display: flex;
justify-content: space-between;
margin-top: -10%;
   /* background-color: #4744c4; */
}

.ImageMargin1{
   width: 33%;
   /* background-color: #000; */
}

.DivAlign2{
  display: none;
}

.ImageMargin2{
  width: 33%;
  /* background-color: #000; */
  padding-left: 8%;
}

.ImageMargin3{
  padding-left: 12%;
  width: 33%;

}

.div1{
  width:50%;
}
.div1Download{
  width:100%;
}

.div2{
  width:40%;
  margin-left:5px;
}

.div3{
  width:25%;
  display: flex;
  margin-top: 20px;
}

.privacypolicy{
 color: #4744c4;
  font-size:1.2vw;
  font-weight: 100;
line-height: 0vw;
  margin-top:2.5vw;
  margin-left: 1.5px;

}

.div422{
  display: none;
  background-color: #fff;
  border-radius: 30px;
  padding-left:35px ;
  width:30%;
}

.div42{
  background-color: #fff;
  padding-left:35px ;
  width:36vw;
  position: absolute;
  z-index: 1;
  border-radius: 30px;
  height:35vw;
  margin-left: 18%;
  /* border: 2px red solid; */
}
/* privacy */
.privacyWidth{
  min-width: 100vw;
  min-height: 100vh;
background-color: #4744c4;

padding: 30px;

}
.privacyWidth2{

  background-color: #fff;

  width:95.3%;
  border-bottom-style: solid ;
    border-bottom-width: thin;
    border-bottom-color: #4744c4;
    margin-top: -1.85%;
  }
.privacy{
  width: 10vw;
background-color: #fff;
height: 10vh;
}
.privacyText{
  color: #4744c4;
  font-size: 1vw;
  font-weight: 100;
  line-height: 1.7vw;
}
.privacyTextspan{
  font-weight: 500;
}
.div1privacy{
  width:33%;
}
.div2privacy{
  width:33%;

}
.div3privacy{
  width:33%;
  margin-left:20px;
}
.ExpandText{
  color: #4744c4;
  font-size: 1.5vw;
  font-weight: 100;
  margin-top: 30px;
  line-height: 2vw;
  margin-left: 5%;
}
.ExpandText2{
  color: #4744c4;
  font-size: 1.5vw;
  font-weight: 100;
  margin-top: 30px;
  line-height: 2vw;
  margin-left: 0%;
}
.div4{

  background-color: #fff;
  border-radius: 30px;
  padding-left:30px ;
width:30%;
}
.div5{
  margin-left:7%;
  background-color: #fff;
  border-radius: 30px;
  padding-left:30px ;
width:30%;
}
.div52{
  background-color: #fff;
  padding-left:30px ;
  width:32vw;
  position: absolute;
  z-index: 1;
  border-radius: 30px;
  height:35vw;
 right: 7%;
  /* border: 2px red solid; */
}

.div6{
  margin-left:7%;
  background-color: #fff;
  border-radius: 30px;
  padding-left:35px ;
 width:30%;
}

.div62{
  background-color: #fff;
  padding-left:35px ;
  width:30.2vw;
  position: absolute;
  z-index: 1;
 height:35vw;
 left: 37%;
 border-top-left-radius:  30px;
 border-bottom-left-radius:  30px;
  /* border: 2px red solid; */
}
.div7{
  width:100%;
}

.divInner{
  width: 16.65;
}

.buttonDiv{
display: flex;
align-items: center;

}

.buttonDiv{
  display: flex;
  align-items: center;

}

.buttonDiv3{
  display: flex;
  margin-bottom: -100px;


}

.button1{
  background-color:#fff;
  color: #4744c4;
padding:9px 10px ;
 border-radius: 25px;
  outline: 0;
  outline-style: none;
  text-transform: uppercase;
 cursor: pointer;
  box-shadow: 0px;
  font-weight: 100;
border: none;
display: flex;
align-items: center;
font-size: 14px;
}

.button12{
  background-color:#fff;
  color: #4744c4;
  outline: 0;
  outline-style: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px;
  font-weight: 100;
  /* margin-left: 10px; */

  padding-bottom:10px ;

  border: none;
display: flex;
border-radius: 13px;
flex-direction: column;
position: absolute;
right:  0;
top: 20%;
}

.languages{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;


}
.languages2{
  font-size: 14px;
  /* margin-left: 10px; */
}


.button3{
  background-color:#4744c4;
  padding:25px 60px ;
  padding-top:9px ;
  /* padding-bottom:9px ;
  padding-left: 10px; */
    border-radius: 5px;
    outline: 0;
    outline-style: none;
    text-transform: uppercase;
   margin-top: 5px;
    cursor: pointer;
    box-shadow: 0px;
    font-weight: 100;
    margin-left: 10px;
    border: none;



}

.divDropdown{
  background-color:#fff;
  padding-top:9px ;
  padding-bottom:9px ;
  border-radius: 15px;

  margin-left: 10px;


}

.justify{
  display: flex;

  }

.tabText{
  color: #4744c4;
  font-size: 1.8vw;
  font-weight: 100;
  line-height: 2.5vw;
}

.tabText4{
  color: #4744c4;
  font-size: 2vw;
  font-weight: 100;
  line-height: 2.5vw;
  margin-top: -10px;
}

.tabText5{
  color: #4744c4;
  font-size:1.4vw;
  font-weight: 100;
line-height: 0vw;
  margin-top:0.5vw;
  margin-left: 1.5px;
}


.tabText5Two{

  margin-top:35px;
  font-size:1.2vw;

  line-height: 1.6vw;
}
.text1A{
  color: #4744c4;
  font-size: 2.5vw;
  font-weight: 200;
  line-height: 2.6vw;
  margin-top: 28px;
}

.text1B{
  color: #4744c4;
  font-size: 1.3vw;
  font-weight: 100;


}

.tabText2{
  color: #4744c4;
  font-size: 1.8vw;
  font-weight: 100;
  line-height: 2.5vw;

}

.textHide{
  color: #4744c4;
  font-size: 1.5vw;
  font-weight: 100;
  line-height: 1.8vw;
  display: none;
}

.buttonDiv2{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.moveDownload{
  display: flex;
  flex-direction: row;
 margin-left: auto;
}
.moveDownload2{
  display: flex;
  flex-direction:column;
 margin-left: 0;
}
.transfr{
  font-weight:500;
}

.italics{
  font-style: italic;
  font-weight:500;
}

.italics2{
  font-style: italic;

}

.DropDownArrow{
  height: 10px;
  margin-top: -1px;
  margin-left: 5px;
}

.igb{
  color: #fff;
  margin-left: -2px;
}

.DropDown{
background-color:#fff;
padding-top:9px ;
padding-bottom:3px ;
border-radius: 15px;
margin-left: 10px;
display: flex;
flex-direction: column;
margin-top: 25px;


border-collapse: collapse;
z-index: 1;
position:relative;



}

.buttonDropDown{
  background-color:#fff;
  color: #4744c4;
padding-right:10px ;
padding-top:9px ;
padding-bottom:9px ;
padding-left: 10px;
  border-radius: 25px;
  outline: 0;
  outline-style: none;
  text-transform: uppercase;
  margin-top: -10px ;
  cursor: pointer;
  box-shadow: 0px;
  font-weight: 100;

  border: none;
display: flex;
align-items: center;


}

.lng{
  background-color:#fff;
  color: #4744c4;
/* padding-right:10px ;
padding-top:9px ;
padding-bottom:9px ;
padding-left: 10px; */
padding: 0;
  outline: 0;
  outline-style: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: -5px;

  background: none;


  padding: 0;
  cursor: pointer;
  box-shadow: 0px;
  font-weight: 100;

  border: none;
}

.lngText{
  color: #4744c4;
  font-size: 0.8vw;
  font-weight: 100;
  margin-left: -22px;
}

.icon{
  color: #4744c4;
  margin-left: 10px;
  height:1.2vw;
  margin-top: -20px;


 }
 .icon2{
  color: #4744c4;
  margin-left: 10px;
  width:100px;
  margin-top: -32px;
  font-weight: 100;

 }
.privacypolicynav{
  font-size: 20px;
  color: #4744c4;

}
.DisplayTextAndIcon{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items:flex-start;
}

.DisplayTextAndLogo{
  display: flex;
  flex-direction: row;


}

.IconDisplay{
  display: flex;
  flex-direction: row;
  margin-top:0.5vw;

}

@media only screen and (max-width:767px) {
  .changelanguage{
    display: none;
  }

  .changelanguage2{
    display: none;
  }

.createspace{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

.Zero2{
  display: block;
    height: 100vw;
      margin-left: -6.6%;
      margin-top: -120%;
      position: absolute;
      z-index: -19999;

}
.text1A{
  color: #4744c4;
  font-size: 2.5vw;
  font-weight: 200;
  line-height: 2.6vw;
  margin-top: 32px;
}
}

@media only screen and (max-width:600px) {

.App-logo{
    height: 40px;
    margin-left: -10px;

}
.secondDiv4{

  padding-bottom: 50px;
}

.tabText52{
  display: block;
}

.tabText4{
  display: none;
}

.changelanguage{
  display: none;
}

.changelanguage2{
display: none;
 }

.ImageDiv{
  padding-bottom: 25px;
  }

.FirstDiv{
      padding-left: 50px;
      padding-right: 50px;
      padding-top:40px
}

.lngText{
  color: #4744c4;
  font-size: 3.5vw;
  font-weight: 100;
}

.ImageDivider2{
  margin-top: -17.2%;
}

.secondDiv2{
      flex-direction: column;
      /* background-color: #fff; */
      padding-top: 15px;
}

.secondDiv3{
 padding-top: 50px;

}

.tabText{
display: none;
font-size: 4vw;
line-height: 5.5vw;
}
.DisplayTextAndIcon{
  flex-direction: column;
  align-items:flex-start;
  margin-top: 0;

}

.tabText2{
font-size: 4.5vw;
line-height: 5.5vw;
}

.textHide{
  font-size: 4.5vw;
  line-height: 5.5vw;
  display: block;
  color: #4744c4;
}
.privacyWidth{
  min-width: 100vw;
  min-height: 100vh;
background-color: #4744c4;

padding: 30px;

}
.privacyWidth2{

  background-color: #fff;

  width:95.3%;
  border-bottom-style: solid ;
    border-bottom-width: thin;
    border-bottom-color: #4744c4;
    margin-top: -1.85%;
  }
.privacy{
  width: 10vw;
background-color: #fff;
height: 10vh;
}
.privacyText{
  color: #4744c4;
  font-size: 2.5vw;
  line-height: 4vw;
  font-weight: 100;

}
.privacyTextspan{
  font-weight: 500;
}
.div1privacy{
  width:100%;
}
.div2privacy{
  width:100%;

}
.div3privacy{
  width:100%;
  margin-left:0px;
}
.textHide2{
  font-size: 4vw;
  line-height: 5.5vw;
  display: block;
  color: #4744c4;
  font-weight: 100;
}

.div1{
        width:100%;
}

.div2{
        width:100%;
        margin-left: 0;
}

.div3{
        width:100%;
        margin-top: 10px;

}

.div7{
margin-top: 18%;
}

.moveDownload{
     flex-direction: column;
     margin-left: 0;
}

.downloadText{

        font-size: 3vw;
}

.button1{

padding-right:8px ;
padding-top:5px ;
padding-bottom:5px ;
padding-left: 8px;
}


.button2{
margin-left: 0px;
margin-top: -10px;
}

.button3{
  margin-left: 0px;
}

body{
overflow-y: scroll;
}

.DivAlign{
display: none;
}

.DivAlign2{
    flex-direction: column;
    display: block;
}

.div4{
  width: 70%;
  padding-bottom:0vw;
  padding-left: 28px;
  margin-top: 10px;
  padding-top: 0.1px;
  height: 114vw;


}

.div5{
    width: 70%;
    margin-left: 0;
    margin-top: 80px;
    padding-bottom: 0vw;
    padding-left: 28px;
    padding-top: 0.1px;
    height: 114vw;
}

.div6{
    width: 70%;
    margin-left: 0;
    margin-top: 80px;
    padding-bottom: 0vw;
    padding-left: 28px;
    padding-top: 0.1px;
    height: 114vw;
}

.div422{
  display: block;
  width: 70%;
      margin-left: 0;
      padding-bottom:0vw;
      padding-left: 28px;
      height: 114.6vw;
      padding-top: 0.1px;
      margin-top: 10px;

   }

 .ExpandText{
    font-size: 3.7vw;
    line-height: 5vw;
  margin-left: 0px;
  margin-top: 0px;

  }


.Zero2{
  display: block;
    height: 30vw;
      margin-left: -6.6%;
      margin-top: -2%;
      position: absolute;
      z-index: -19999;

}

.Zero{
 height: 30vw;
    margin-left: -6.6%;
    margin-top: 33.5%;
    position: absolute;

}

.Arrow{
   height: 35vw;
      margin-left: -20%;
      margin-top: 27%;
      position: absolute;
}

.Bills{
    height: 40vw;
    margin-left: -8%;
      margin-top: 31%;
      position: absolute;
    /* margin-left: 1%; */
}

.ImageMargin{
   flex-direction: column;
   display: none;

       /* background-color: #4744c4; */
}

.DisplayTextAndLogo{
width: 100%;
}

.text1A{
  font-size: 8vw;
    font-weight: 200;
    line-height: 8vw;
    margin-top: 35px;
}

.text1B{
    color: #4744c4;
    font-size: 4vw;
    font-weight: 100;
}

.buttonDiv3{
  display: flex;
  margin-bottom: -100px;

 }

 .DropDown{
  background-color:#fff;
 margin-top: 11px;

}

.App-logo2{
    height: 4vw;
  }
  .tabText5{
    font-size: 2.6vw;
    line-height: 4vw;
    margin-top: -1vw;
  }

  .tabText5Two{

    margin-top:35px;
    font-size:2.2vw;

    line-height: 3vw;
  }
  .privacypolicy{
    font-size: 2.6vw;
    line-height: 4vw;
  }
.App-logo3{
    display: block;
  }

.div522{
    width: 70%;
    margin-left: 0;
    margin-top: 80px;
    padding-bottom:0vw;
    padding-left: 28px;
    padding-top: 0.1px;
    background-color: #fff;
    border-radius: 30px;
    height: 114vw;
}

.Arrow2{
  display: block;
  height: 30vw;
     margin-left: -2%;
     margin-top: -2%;
     position: absolute;
     z-index: -19999999;
}

.div622{
  width: 70%;
    margin-left: 0;
    margin-top: 80px;
    padding-bottom:0vw;
    padding-left: 28px;
    padding-top: 0.1px;
    background-color: #fff;
    border-radius: 30px;
    height: 114vw;
}
.icon{
  margin-top: 10px;
  height:3vw;
  margin-left: 10px;
}

.icon:first-child{
margin-left: 0px;
}

.Bills2{
  display: block;
      height: 40vw;
      margin-left: -8%;
        margin-top: -5%;
        position: absolute;
      z-index: -19999999;
  }

  .clickArrow{
    height: 10vw;
    margin-left: -3.5vw;
  }
}
@media only screen and (max-width:350px) {

    .tabText5{
      font-size: 2.6vw;
      line-height: 4vw;
      margin-top: 5vw;

    }
    .tabText5Two{

      margin-top:35px;
      font-size:2.2vw;

      line-height: 3vw;
    }
}
@media only screen and (max-width:450px) {
.lngText{
    color: #4744c4;
    font-size: 4.5vw;
    font-weight: 100;
  }
  .googleAndApple{
    height: 30px;
    cursor: pointer;
    }

.ImageDivider2{
    margin-top: -23.7%;
    position: static;
  }
  .tabText5{
    font-size: 2.6vw;
    line-height: 4vw;
    margin-top: -3vw;
  }
  .tabText5Two{

    margin-top:35px;
    font-size:2.2vw;

    line-height: 3vw;
  }
.div4{
    width: 85%;
      margin-left: 0;
      padding-bottom:0vw;
     padding-left: 20px;
     height: 114vw;
     border-color: #4744c4;


  }

.div422{
  display: block;
  width: 85%;
      margin-left: 0;
      padding-bottom:0vw;
     padding-left: 20px;
      padding-top: 0.1px;
       margin-top: 10px;
       height: 114vw;



  }

.div42{
   margin-left: 0px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   background-color: #fff;
   width: 56.5vw;
   position: absolute;
   top:148%;
   height:145vw;
   padding-left: 20px;
 }

.div5{
      width: 85%;
      margin-left: 0;
      margin-top: 50px;
      padding-bottom:0vw;
      padding-left: 20px;
      padding-top: 0.1px;
      height: 114vw;
  }

  .div522{
    width: 85%;
    margin-left: 0;
    margin-top: 50px;
    padding-bottom: 0vw;
    padding-left: 20px;
    padding-top: 0.1px;
    background-color: #fff;
    border-radius: 30px;
    height: 114vw;
}

  .div52{
    margin-left: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    width: 56.5vw;
    position: absolute;
    top:225%;
    height:132vw;
    left: 15.5%;
    padding-left: 26px;
  }

.div6{
      width: 85%;
      margin-left: 0;
      margin-top: 50px;
      padding-bottom: 0vw;
      padding-left: 20px;
      padding-top: 0.1px;
      height: 114vw;
  }

.div622{
  width: 85%;
  margin-left: 0;
  margin-top: 50px;
  padding-bottom: 0vw;
  padding-left: 20px;
  padding-top: 0.1px;
  background-color: #fff;
  border-radius: 30px;
  height: 114vw;
}
.secondDiv3{
    padding-top: 50px;

   }

.button2{
  padding:10px 35px ;
}

.button3{
      padding:10px 35px ;

}


.ExpandText{
      font-size: 3.9vw;
      line-height: 4.9vw;
    margin-left: 5px;
    margin-top: -5px;

    }

.Zero{
      height: 35vw;
        margin-left: -10.5%;
        margin-top: 17%;
        position: absolute;
        z-index:1;

    }

.Zero2{
  height: 35vw;
  margin-left: -10.5%;
  margin-top: -6%;
  position: absolute;
  z-index:-19999999;

}


.Arrow{
  height: 35vw;
     margin-left: -10%;
     margin-top: 12%;
     position: absolute;
}
.Arrow2{
      display: block;
      height: 35vw;
      margin-left: -10%;
         margin-top: -2.5%;
         position: absolute;
         z-index: -19999999;



    }
.Bills2{
  display: block;
      height: 35vw;
      margin-left: -8%;
      margin-top: -3.5%;
        position: absolute;
      z-index: -19999999;

  }
  .Bills{
    display: block;
        height: 35vw;
        margin-left: -8%;
        margin-top: 22%;
          position: absolute;


    }

.closeIconMobile{
  height: 14px;
  width: 14px;
  margin-top: 20px;
}
.closeIcon{
  height: 8px;
  width: 8px;
}
.DropDownArrow{
  height: 10px;
margin-top:  2px;
}
.createspace{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}
.text1B{
  font-size: 4vw;
  font-weight: 100;
}
.text1A{
  margin-top: 20px;
  font-size:7.2vw;
  line-height: 9vw;
}


}

@media only screen and  (min-width:451px) and  (max-width:600px) {
  .lngText{
    color: #4744c4;
    font-size: 3.8vw;
    font-weight: 100;
  }

  .div522{
    width: 80%;
    margin-left: 0;
    margin-top: 80px;
    padding-bottom: 0vw;
    padding-left: 40px;
    padding-top: 0.1px;
    background-color: #fff;
    border-radius: 30px;
    height: 114vw;
}
.closeIconMobile{
  height: 18px;
  width: 18px;
  margin-top: 20px;
}
.closeIcon{
  height: 10px;
  width: 10px;
}

.createspace{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}
.div622{
  width: 80%;
  margin-left: 0;
  margin-top: 80px;
  padding-bottom: 0vw;
  padding-left: 40px;
  padding-top: 0.1px;
  background-color: #fff;
  border-radius: 30px;
  height: 114vw;
}



  .div422{
    display: block;
    width: 80%;
        margin-left: 0;
        padding-bottom:0vw;
       padding-left: 40px;
        padding-top: 0.1px;
        margin-top: 10px;
        height: 114vw;

    }

 .secondDiv3{
    padding-top: 30px;

   }

  .ImageDivider2{
    margin-top: -18.5%;
  }

  .div4{
    width: 80%;
    padding-bottom: 0vw;
    padding-left: 40px;
    height: 114vw;
    padding-top: 0.1px;
  }

  .div5{
      width: 80%;
      margin-left: 0;
      margin-top: 80px;
      padding-bottom:0vw;
      padding-left: 40px;
      padding-top: 0.1px;
      height: 114vw;
  }

  .div6{
      width: 80%;
      margin-left: 0;
      margin-top: 80px;
      padding-bottom: 0vw;
      padding-left: 40px;
      padding-top: 0.1px;
      height: 114vw;
  }

  .ExpandText{
    font-size: 3.9vw;
    line-height: 4.9vw;
  margin-left: 0px;


  }

  .Zero{

    height: 35vw;
      margin-left: -11.6%;
      margin-top: 18.3%;
      position: absolute;

  }


  .Arrow{

    height: 35vw;
      margin-left: -10.6%;
      margin-top: 18%;
      position: absolute;

  }
  .Arrow2{
    display: block;
    height: 35vw;
    margin-top:1.5%;
       margin-left: -10.6%;
       position: absolute;
       z-index: -19999999;

  }
.Zero2{
  display: block;

      height: 35vw;
      margin-left: -11.6%;
      margin-top: -6.5%;
      position: absolute;
      z-index: -19999;


}
.Bills{
  height: 35vw;
      margin-left: -10.6%;
      margin-top: 24.3%;
      position: absolute;
}

.Bills2{
  display: block;
      height: 35vw;
      margin-left: -10.6%;
        margin-top: -1%;
        position: absolute;
      z-index: -19999999;
  }
.googleAndApple{
  height: 40px;
  width: 100px;
  cursor: pointer;
  }

}

@media only screen and  (min-width:601px) and  (max-width:900px) {
  .FirstDiv{
    padding-left: 80px;
    padding-right: 80px;
    padding-top:60px
   }
   .privacyWidth{
    min-width: 100vw;
    min-height: 100vh;
  background-color: #4744c4;

  padding: 30px;

  }
  .createspace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .privacyWidth2{

    background-color: #fff;

    width:95.3%;
    border-bottom-style: solid ;
      border-bottom-width: thin;
      border-bottom-color: #4744c4;
      margin-top: -1.85%;
    }
  .privacy{
    width: 10vw;
  background-color: #fff;
  height: 10vh;
  }
  .privacyText{
    color: #4744c4;
    font-size: 2.5vw;
    line-height: 4vw;
    font-weight: 100;

  }
  .privacyTextspan{
    font-weight: 500;
  }
  .div1privacy{
    width:100%;
  }
  .div2privacy{
    width:100%;

  }
  .div3privacy{
    width:100%;
    margin-left:0px;
  }

  .tabText2{

    display: none;

   }

  .lngText{
    color: #4744c4;
    font-size: 1.5vw;
    font-weight: 100;
  }

  .lng{

    color: #4744c4;

  padding: 0;
    outline: 0;
    outline-style: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: -5px;

    background: none;
   padding: 0;
    cursor: pointer;
    box-shadow: 0px;
    font-weight: 100;

    border: none;
  }


  .ImageDivider2{
    margin-top: -6.7%;
  }

  .App-logo{
    height: 60px;

    margin-left: -10px;

  }

  .tabText4{
    display: none;
  }

.changelanguage{
    color: #4744c4;
    font-size: 1.7vw;
    font-weight: 100;
  }

 .changelanguage2{
    color: #4744c4;
    font-size: 1.7vw;
    font-weight: 100;
    margin-top: 22px;
  }

  .ImageDiv{
  padding-bottom: 40px;

    }

.secondDiv2{
      flex-direction: column;
 }

.tabText{
display: none;
font-size: 3vw;
 line-height: 4vw;
}

.tabText5{
font-size: 2.1vw;
   line-height: 4vw;
   margin-top: -10px;
  }

  .tabText5Two{

    margin-top:35px;
    font-size:1.9vw;

    line-height: 3vw;
  }
  .privacypolicy{
    font-size: 2.1vw;
   line-height: 4vw;
   margin-top: -10px;
  }


 .tabText2Hide{
  color: #4744c4;
  display: block;
  font-size: 3vw;
  line-height: 4vw;
  font-weight: 100;
 }

 .textHide3{
  color: #4744c4;
  display: block;
  font-size: 3vw;
  line-height: 4vw;
  font-weight: 100;

 }

 .div7{
  margin-top: 15%;
 }

.tabText2{
  font-size: 3vw;
  line-height: 4vw;
}

.div1{
 width:100%;
}

.div2{
        width:100%;
        margin-left: 0;
      }

.div3{
        width:33.3%;

      }

.moveDownload{
     flex-direction: column;
     margin-left: 0;
      }

.downloadText{
       font-size: 2vw;
}

.button1{

  padding-right:8px ;
  padding-top:8px ;
  padding-bottom:8px ;
  padding-left: 10px;

  }
  .clickArrow{
    height: 8vw;
    margin-left: -2.5vw;
  }

.button2{
margin-left: 0px;
margin-top: 0px;
}

.button3{
  margin-left: 0px;
  }

body{

 overflow-y: scroll;
  }

.DivAlign2{
 display: block;
  }

.DivAlign{
   display:none;
 }

.div4{
    width: 60%;
    padding-bottom: 0vw;
    height: 80vw;
   padding-left: 40px;
   margin-top: 50px;
   padding-top: 1px;

}

.div5{
     width: 60%;
     margin-left: 0;
     margin-top: 100px;
     padding-top: 1px;
     padding-bottom: 0vw;
     padding-left: 40px;
     height: 80vw;
}

.div6{
     width: 60%;
     margin-left: 0;
     margin-top: 100px;
     height: 80vw;
     padding-left: 40px;
     padding-top: 1px;
}

.ImageMargin{

    display: none;

        /* background-color: #4744c4; */
}

.text1A{
   font-size: 5.5vw;
     font-weight: 200;
     line-height: 6vw;

}

.text1B{
     color: #4744c4;
     font-size: 3vw;
     font-weight: 100;
 }




  .DropDown{
    background-color:#fff;
   margin-top: 15.5px;
}
.ImageDivider2{
  margin-top: -4.85%;
}

.App-logo2{
margin-top: -8px;
  height: 3vw;
}

.DisplayTextAndLogo{
  display: flex;
}

.icon{
  color: #4744c4;
  margin-left: 10px;
  height:20px;
  margin-top: -40px;

 }

 .div422{
  display: block;
  width: 60%;
  margin-top: 50px;
      margin-left: 0;
      padding-bottom:0vw;
      padding-left: 40px;
      /* height: 77vw; */
      padding-top: 0.1px;
      height: 80vw;


  }
  .Zero{
    height: 27vw;
      margin-left: -8%;
      margin-top: 10%;
      position: absolute;

  }
  .Zero2{
    display: block;
    height: 27vw;
    margin-left: -8%;
    margin-top: -13.5%;
    position: absolute;
    z-index: -199999;
  }

  .ExpandText{
    font-size: 2.7vw;
    line-height: 3.7vw;
  margin-left: 0px;

  }

  .div522{
    width: 60%;
     margin-left: 0;
     margin-top: 100px;
     padding-top: 1px;
     padding-bottom:0vw;
     padding-left: 40px;
     background-color: #fff;
     border-radius: 30px;
     height: 80vw;

}

.Arrow2{
  display: block;
  height: 27vw;
  margin-top:-8.3%;
     margin-left: -8%;
     position: absolute;
     z-index: -199999;

 }
 .Arrow{
  height: 27vw;
  margin-left: -8%;
     margin-top:5%;
     position: absolute;
 }

 .Bills{
   height: 31vw;
   margin-left: -7%;
     margin-top: 12%;
     position: absolute;
   /* margin-left: 1%; */


   }
 .Bills2{
  display: block;
  height: 31vw;
  margin-left: -7%;
    margin-top: -13%;
    position: absolute;
  /* margin-left: 1%; */
  z-index: -199999;

  }

  .div622{
    width: 60%;
    margin-left: 0;
    margin-top: 100px;
    height: 80vw;
    padding-left: 40px;
    padding-top: 1px;
    background-color: #fff;
    border-radius: 30px;
  }

  .ExpandText{

  margin-left: 0px;
  margin-top: -10px;

  }
  .DisplayTextAndIcon{
    flex-direction: column;
    align-items:flex-start;
    margin-top: 0;

  }
  .icon{
    color: #4744c4;
    margin-left: 10px;
   margin-top: 5px;
}

.icon:first-child{
  margin-left: 0px;
  }

}

@media only screen and  (min-width:901px) and (max-width:1209px) {

.changelanguage{
    color: #4744c4;
    font-size: 1.3vw;
    font-weight: 100;
}
.changelanguage2{
  color: #4744c4;
  font-size: 1.3vw;
  font-weight: 100;
  margin-top: 23px;

}
.ImageDiv{
  padding-bottom: 30px;
}

.tabText{
  font-size: 1.7vw;
  line-height: 2.2vw;
}

.tabText2{
  font-size: 1.8vw;
  line-height: 2.2vw;
}
.tabText4{
  font-size: 1.8vw;
  line-height: 2.2vw;
}

.tabText5{
  font-size:1.3vw;


}

.tabText5Two{

  margin-top:35px;
  font-size:1.1vw;


}

.App-logo2{
  height: 2vw;
 }

.div1{
width:48%;
}

.div2{
        width:40%;
        margin-left:50px;
}

.div3{
        width:35%;

}

/* .moveDownload{
} */

.downloadText{
 margin-top: 2px;
 font-size: 1.3vw;
}

.buttonDiv2{
  display: flex;
  flex-direction: column;
  margin-top: -8px;
}

.App-logo{
height: 60px;
margin-left: -10px;

}

.FirstDiv{
  padding-left: 50px;
  padding-right: 50px;
  padding-top:50px
 }

 .Zero{
 margin-left: -6.5%;
 margin-top: -2%;

}

.Arrow{

 margin-left:-1.8%;
}

.Bills{
margin-top: 2%;
margin-left: 1%;
}

.lngText{
  color: #4744c4;
  font-size: 1.35vw;
  font-weight: 100;
}

.lng{
  color: #4744c4;
  padding: 0;
  outline: 0;
  outline-style: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: -5px;
  background: none;
  padding: 0;
  cursor: pointer;
  box-shadow: 0px;
  font-weight: 100;
  border: none;
}


.ImageDivider2{
  margin-top: -4.28%;
}

.DropDown{
  background-color:#fff;
 margin-top: 15px;
}

.icon{
  color: #4744c4;
height:15px;
margin-top: -20px;
margin-left: 7px;


 }

.DisplayTextAndIcon{
  display: flex;
  justify-content: space-between;
  /* padding-top: 50px; */
  align-items:flex-start;
}

.IconDisplay{
  display: flex;
}

.div52{
  background-color: #fff;
  padding-left:35px ;
  width:34vw;
  position: absolute;
  z-index: 1;
  border-radius: 30px;
  height:35vw;
 right: 5%;
}
.googleAndApple{
  height: 30px;
  cursor: pointer;
  }
  .closeIcon{

    height: 10px;
    width: 10px;
  }

  .closeIconDiv1{
    background-color: #fff;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%;
  }
  .closeIconDiv2{
    background-color: #fff;
    height: 20px;
    width: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 5%;
  }

  .closeIconDiv3{
    background-color: #fff;
    height: 20px;
    width: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 5%;
  }
  .ExpandText{
    margin-top: 25px;
  }

  .icon{
    color: #4744c4;
    margin-left: 10px;
    height:1.2vw;
    margin-top: -10px;


   }
   .secondDiv4{
padding-bottom: 50px;
}
}

/* @media only screen and  (min-width:901px) and (max-width:1199px)   {

 .Zero{
 margin-left: 2.3%;
 margin-top: -10%;

}

.Arrow{

 margin-left: 15.5%;
}

.Bills{

  margin-top: 2%;
  margin-left: 7%;


  }

} */